[Desktop Entry]
Type=Application
Name=gtty
GenericName=Terminal
Comment=True Graphic Virtual Terminal: many terminal windows on one screen
Exec=gtty
Icon=gtty
Terminal=false
Categories=System;TerminalEmulator;
Keywords=terminal;shell;console;command;prompt;
StartupWMClass=gtty
StartupNotify=true
